/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

h1, h2, h3, h4, p {
    margin: 0px;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Gerais */
body {
    font-family: sans-serif;
    background-color: #F9F9F9;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.titulo {
    color: #424243;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.descricao {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

.btn {
    padding: 1rem 1rem;
    border: 2px solid;
    font-size: 1rem;
    text-transform: uppercase;
    color: #424243;
    background-color: transparent;
    display: inline-block;
}

.icon::before {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    display: inline-block;
}

.icon.iphone::before {
    background: url("img/icon_apple_btn.png") no-repeat center;
}

.icon.android::before {
    background: url("img/icon_android_btn.png") no-repeat center;
}

.icon.camera::before {
    background: url("img/icon_camera.png") no-repeat center;
    background-size: 100%;
}

.icon.video::before {
    background: url("img/icon_filme.png") no-repeat center;
    background-size: 100%;
}

.icon.olho::before {
    background: url("img/icon_olho.png") no-repeat center;
    background-size: 100%;
}

.icon.foto::before {
    background: url("img/icon_foto.png") no-repeat center;
    background-size: 100%;
}

.icon.localizacao::before {
    background: url("img/icon_localizacao.png") no-repeat center;
    background-size: 100%;
}

.icon.play::before {
    background: url("img/icon_play.png") no-repeat center;
}

/* Header */
header {
    padding: 2rem 0;
    background-color: #44B67A;
}

header .container {
    justify-content: space-between;
}

header li {
    display: inline-block;
}

header li + li {
    margin-left: 1rem;
}

header nav a {
    padding: 0.5rem;
    font-size: 1.125rem;
    color: #F4F4F4;
    display: block;
}

section {
    padding: 4rem 0;
}

/* Introdução */
.intro {
    padding: 8rem 0;
    background: url('img/intro.png') no-repeat center;
    background-size: cover;
}

.intro .conteudo {
    width: 50%;
}

.intro .btn + .btn {
    margin-left: 1rem;
}

/* Parceiros */
.parceiros {
    padding: 0;
    background-color: #F3F3F3;
}

/* Produto */
.produto.container {
    justify-content: space-between;
}

.produto .conteudo {
    max-width: calc((100% / 12 * 6) - 20px);
}

.caracteristicas {
    margin: 2rem 0;
}

.caracteristicas li {
    color: #424243;
}

.caracteristicas li + li {
    margin-top: 1rem;
}

.produto .btn {
    margin-right: 1rem;
}

.produto .get_app {
    color: #666;
}

/* qualidades */
.qualidades {
    background-color: #44B67A;
}

.qualidades li {
    max-width: calc((100% / 12 * 4) - 2rem);
    margin: 1rem;
    text-align: center;
    color: #F4F4F4;
}

.qualidades .img_container {
    width: 40px;
    margin: 0 auto;
}

.qualidades h3 {
    margin: 2rem 0 1rem;
}

.qualidades p {
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6);
}

/* Depoimento */
.depoimento {
    font-size: 1.25rem;
    text-align: center;
    color: #666;
}

.depoimento p {
    margin-bottom: 2rem;
    line-height: 1.5;
}

.depoimento cite {
    font-style: normal;
    display: block;
}

.depoimento strong {
    text-transform: uppercase;
    color: #424243;
    display: block;
}

/* Email */
.email {
    background-color: #44B67A;
}

.email .container {
    justify-content: center;
}

.email h1 {
    width: 100%;
    margin-bottom: 2rem;
    font-weight: normal;
    text-align: center;
    color: #F4F4F4;
}

.email .campo {
    width: 40%;
    position: relative;
    display: flex;
    align-items: center;
}

.email input {
    width: 100%;
    padding: 1rem 5rem 1rem 2rem;
    border: none;
    border-radius: 3px;
    font-size: 1.25rem;
    color: #666;
    display: block;
    outline: none;
}

::-webkit-input-placeholder {
    color: #44B67A;
}

:-moz-placeholder {
    color: #44B67A;
}

::-moz-placeholder {
    color: #44B67A;
}

:-ms-input-placeholder {  
    color: #44B67A;
}

.email .campo img {
    width: 1.5rem;
    position: absolute;
    right: 2rem;
}