/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

h1, h2, h3, h4, p {
    margin: 0px;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

/* Gerais */
.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Header */
header {
    padding: 2rem 0;
    background-color: #44B67A;
}

header .container {
    justify-content: space-between;
}

header li {
    display: inline-block;
}

header li + li {
    margin-left: 1rem;
}

header nav a {
    padding: 0.5rem;
    font-size: 1.125rem;
    color: #F4F4F4;
    display: block;
}